@model IEnumerable<WebApplication1.Models.HotelRoom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-3">
     <div class="cards">
       <h3> Shillamogram Rooms</h3>
      </div>
</div>
<div class="row">
    @foreach (var hotel in Model)
    {
        var avatarPath = $"/images/{(hotel.Images ?? "noavatar.png")} ";
        <div class="col-sm-3">
            <div class="card my-2">
                <div class="card-header">
                    <h4>@hotel.FullName</h4>
                </div>
                <img src="@avatarPath" class="card-img-top" />
                <div class="card-footer">
                    @*<a href="Home/Details/1">View</a>
                        @Html.ActionLink("View","Details","Home", new { id = emp.Id })*@
                    <a asp-controller="HotelRooms" asp-action="Details" asp-route-id="@hotel.HotelRoomId" class="btn btn-warning">View</a>
                    <a asp-controller="HotelRooms" asp-action="Edit" asp-route-id="@hotel.HotelRoomId" class="btn btn-primary">Edit</a>
                    <a asp-controller="HotelRooms" asp-action="Details" asp-route-id="@hotel.HotelRoomId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

